
h1{
    text-align: center;
}
.row1{
    margin:auto;
}

img {
    width:25%;
    display:inline-block;
    margin: 10px;
    border: black solid 5px;
    text-align: center;
    cursor: pointer;
}
.button {
    background-color: green;
    border:solid 3px black;
    color:white
}